body {
  margin: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;

  color: #212121;
  line-height: 1.5;
  padding-top: 10px;
  text-align: center;
  overflow: auto;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* /* height: 50vh; */
  width: 100vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 40px;
}

.link {
  width: 150px;
  color: #ff9604;
  text-decoration: none;
  font-weight: bold;

  padding: 10px 15px;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

.link:hover {
  background-color: #ff9604;
}

.link:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #ff9604;
  transition: width 0.2s ease-in-out;
  margin-top: 5px;
}

.link:hover:after {
  width: 100%;
}

.link:hover {
  background-color: rgb(0, 249, 211);
  border: 1px solid rgb(0, 249, 211);
  color: #ff9604;
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  /* transition-delay: 0.6s; */
}

.link {
  border: 2px solid #ff9604;
  border-radius: 6px;
  /* transition: border-color 0.2s ease-in-out; */
}
/* 
.link:hover {
  border-color: rgb(0, 249, 211);
} */

.btn {
  width: 250px;
  height: 100px;
  padding: 10px 20px;
  border: 1px solid #ff9604;
  background-color: #ff9604;
  font-size: 25px;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.btn:hover {
  background-color: rgb(0, 249, 211);
  color: #ff9604;
}
.btn:disabled {
  background-color: #cccccc;
  cursor: default;
  opacity: 0.5;
}

.timer {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-top: 20px;
}
.field {
  text-align: center;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
}
.input-field {
  max-width: 370px;
  font-size: 2rem;
  text-align: center;
}
.start-button {
  font-size: 2rem;
  padding: 1px 10px;
}

input {
  color: #131313;
  border: 2px solid #ff9604;
  border-radius: 10px;
  padding: 15px 40px;
  background: transparent;
  max-width: 190px;
  margin-right: 15px;
}

input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
  color: #001eff;
}
input:hover {
  box-shadow: 2px 2px 15px #8707ff inset;
  border: 2px solid #001eff;
}
input:disabled {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  cursor: default;
  opacity: 0.7;
}
button {
  position: relative;
  padding: 15px 40px;
  outline: none;
  border: 1px solid #ff9604;
  background: #ff9604;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  background-color: rgb(0, 249, 211);
  border: 1px solid rgb(0, 249, 211);
  color: #ff9604;
  /* transition-delay: 0.6s; */
}
.button:disabled {
  background-color: #cccccc;
  cursor: default;
  opacity: 0.5;
}

.button span {
  position: absolute;
}

button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
}

button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
}

button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
}

button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

button:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.clock-column {
  margin-right: 7rem;
}

.clock-label {
  padding-top: 10px;
  text-transform: uppercase;
  color: #131313;
  font-size: 14px;
  border-top: 1px solid rgba(19, 19, 19, 0.5);
}
